body {
    background-color: black;
}

main {
    margin: 0 5rem;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    color: whitesmoke;
}

p {
    font-size: 2rem;
    color: whitesmoke;
}

img {
    width: 100px;
}