@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

/*FUENTES
    font-family: 'Open Sans', sans-serif;
	font-family: 'Playfair Display', serif;
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(21, 88, 67);
}


/* modificacion modo oscuro */

body.dark {
    background-color: black
}

p {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    margin: 0 20vw;
}


/* ATRIBUTOS FLEX Y GRID */

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.grid {
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
    align-items: stretch;
}

.centrado {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 33vw;
}

.btn {
    margin: 20px;
    padding: 10px;
    background-color: darkgrey;
    height: 50px;
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 3px;
    transition: background 1s;
    color: black;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
    color: black;
    background-color: gainsboro;
}

#button {
    font-size: 1.5rem;
}


/* ------------------------------MAIN------------------------------- */

h1,
h2,
h3 {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
    color: white;
    text-align: center;
}


/*--------------------- MEDIA QUERY START --------------------------*/

@media only screen and (min-width: 768px) {
    h1,
    h2,
    h3 {
        font-size: 3.5rem;
    }
    .grid {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media only screen and (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 3fr);
    }
}